h1 {
    font-family: 'Sulphur Point', sans-serif;
    text-align: center;
    font-size: 80px;
}
h2 {
    font-family: 'Sulphur Point', sans-serif;
    font-size: 30px;
    
}
h3 {
    font-family: 'Sulphur Point', sans-serif;
    text-align: center;
    font-size: 30px;
}
p {
    font-family: 'Sulphur Point', sans-serif;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;
}
body {
    font-family: 'Sulphur Point', sans-serif;
    max-width: 100%;
    background-image: url('original.png');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    background-color: white;
}
table {
    border: 1px solid black;
    text-align: center;
    background:white;
}

.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
  }
  
  .tablink:hover {
    background-color: #777;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    display: none;
    padding: 100px 20px;
    height: 100%;
    margin-bottom: 100px;
  }