h1 {
    font-family: 'Sulphur Point', sans-serif;
    text-align: center;
    font-size: 80px;
}
h2 {
    font-family: 'Sulphur Point', sans-serif;
    font-size: 30px;
    
}
h3 {
    font-family: 'Sulphur Point', sans-serif;
    text-align: center;
    font-size: 30px;
}
p {
    font-family: 'Sulphur Point', sans-serif;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;
}
body {
    font-family: 'Sulphur Point', sans-serif;
    max-width: 100%;
    background-image: url('original.png');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    background-color: white;
}

label {
    font-family: 'Sulphur Point', sans-serif;
    font-size: 18px;
}

table {
    border: 1px solid black;
    text-align: center;
    background:white;
}

.tablink {
    background-color: #555;
    font-family: 'Sulphur Point', sans-serif;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}
  
.tablink:hover {
    background-color: #777;
}

.tabcontent {
    display: none;
    padding: 100px 20px;
    height: 100%;
    margin-bottom: 100px;
}

.button {
    background-color: #000000;
    font-family: 'Sulphur Point', sans-serif;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.dotted {
    border-bottom: 5px dashed black;
}

.bigtext {
    background: white;
}